{{ define "head" }}
   {{ $timeleft := resources.Get "timeleft.js" | minify | fingerprint }}
   <script src="{{ $timeleft.Permalink }}"></script>
{{ end }}

{{ define "main" }}
  <div style="margin-top: 50px"></div>
  <div id="top-text">The show where members of the Zig community share code and ideas.</div>
  <div style="margin-top: 20px"></div>
  <div id="logo">
    <img id="zig" src="zig.svg" width=154 height=140>
      <h1 id="showtime">
        SHOWTIME
      </h1>
  </div>
  <div style="margin-top: 18px"></div>
  <div id="next">
    <div id="next-episode">NEXT EPISODE</div>
    {{ $next_show := (time .Params.next_show) }}
    {{ $suffix := "th" }}
    {{ if in (slice "1" "21" "31") ($next_show.Format "2") }}
      {{ $suffix = "st" }}
    {{ else if in (slice "2" "22") ($next_show.Format "2") }}
      {{ $suffix = "nd" }}
    {{ else if in (slice "3" "23") ($next_show.Format "2") }}
      {{ $suffix = "rd" }}
    {{ end }}
    <div>{{$next_show.Format (printf "Monday 2%s of January" $suffix)}}</div>
    <div id="dates-big">
        {{ $cst := $next_show.In (time "2020-01-01T00:00:00.000-06:00").Location }}
        {{ $cst_format := cond (eq $cst.Day $next_show.Day) "3:04pm CST" "3:04pm CST (Mon)" }}
        {{ $cst.Format $cst_format }}
      / 
        {{ $utc := $next_show.In (time "2020-01-01T00:00:00.000+00:00").Location }}
        {{ $utc_format := cond (eq $utc.Day $next_show.Day) "3:04pm UTC" "3:04pm UTC (Mon)" }}
        {{ $utc.Format $utc_format }}
      / 
        {{ $next_show.Format "15.04" }} CET 
      / 
        {{ $ist := $next_show.In (time "2020-01-01T00:00:00.000+05:30").Location }}
        {{ $ist_format := cond (eq $ist.Day $next_show.Day) "3:04pm IST" "3:04pm IST (Mon)" }}
        {{ $ist.Format $ist_format }}
      / 
        {{ $jst := $next_show.In (time "2020-01-01T00:00:00.000+09:00").Location }}
        {{ $jst_format := cond (eq $jst.Day $next_show.Day) "3:04pm JST" "3:04pm JST (Mon)" }}
        {{ $jst.Format $jst_format }}
    </div>
    <div id="dates-small">
      <ul>
        <li class="date">{{ $cst.Format $cst_format }}</li>
        <li class="date">{{ $utc.Format $utc_format }}</li>
        <li class="date">{{ $next_show.Format "15.04" }} CET</li>
        <li class="date">{{ $ist.Format $ist_format }}</li>
        {{ $sgt := $next_show.In (time "2020-01-01T00:00:00.000+08:00").Location }}
        {{ $sgt_format := cond (eq $sgt.Day $next_show.Day) "3:04pm SGT" "3:04pm SGT (Mon)" }}
        <li class="date">{{ $sgt.Format $sgt_format }}</li>
        <li class="date">{{ $jst.Format $jst_format }}</li>
      </ul>
    </div>
    <div id="countdown" style="margin-top: 10px"></div>
    <script>
      function updateCountdown() {
        var timeLeftFromNow = timeLeft({{.Params.next_show}});
        var countdownDiv = document.getElementById("countdown");

        if (timeLeftFromNow === false) {
          countdownDiv.textContent = "NEXT SHOWTIME WILL BE ANNOUNCED SOON!"
          countdownDiv.classList.remove("blink");
          return;
        }

        if (timeLeftFromNow === true) {
          countdownDiv.textContent = "LIVE NOW!"
          countdownDiv.classList.add("blink");
        } else {
          const s = timeLeftFromNow.days === 1 ? "" : "S";
          countdownDiv.textContent =
              timeLeftFromNow.days + " DAY"+s+" "
            + timeLeftFromNow.hours.toString().padStart(2, '0') + "h:"
            + timeLeftFromNow.minutes.toString().padStart(2, '0') + "m:"
            + timeLeftFromNow.seconds.toString().padStart(2, '0') + "s";
        } 

        setTimeout(runUpdateTimeout, 1000);
      }

      function runUpdateTimeout() {
        // Be a good webdev and don't burn people's laptop batteries.
        window.requestAnimationFrame(updateCountdown);
      }

      updateCountdown();
    </script>
  </div>
  <div style="margin-top: 35px"></div>
  <div id="video-buttons">
    <a id="twitch" class="button" target="_blank" href="https://twitch.tv/kristoff_it">TWITCH</a>
    <a class="button" style="padding:0" target="_blank" href="https://twitter.com/zigshowtime">
      <img src="twitter.svg" style="width:59px;">
    </a>
    <a id="youtube" class="button" target="_blank" href="https://www.youtube.com/channel/UC2EQzAewrC10KCDFSS4j-zA">YOUTUBE</a>
  </div>
  <a class="button" href="/newsletter">NEWSLETTER</a>
  <div style="margin-top: 25px"></div>
  <a class="cf button" target="_blank" href="/speak">APPLY TO SPEAK</a>
  <a class="cf button" target="_blank" href="https://forms.gle/koFUPdBJAPNj1wEu8">CALL FOR ART</a>
  <div style="margin-top: 50px"></div>
{{ end }}