{{ define "head" }}
   {{ $timeleft := resources.Get "timeleft.js" | minify | fingerprint }}
   <script src="{{ $timeleft.Permalink }}"></script>
{{ end }}

{{ define "main" }}
  {{ $ep_list := .GetPage "episodes" }}
  {{ $episode := (index $ep_list.Pages.ByDate.Reverse 0) }}
  {{ $params := $episode.Params}}
  <div style="margin-top: 50px"></div>
  <div id="logo">
    <img id="zig" src="zig.svg" width=154 height=140>
      <h1 id="showtime">
        SHOWTIME
      </h1>
  </div>
  <div style="margin-top: 18px"></div>
  <div id="next">
    <div id="next-episode">
    {{ if gt $episode.Date time.Now }}NEXT{{else}}LAST{{end}} EPISODE</div>
  <div style="margin-top: 5px;"></div>
    <div id="show-title">{{$params.title}}</div>
    {{ if $params.subtitle }}
      <div id="show-subtitle">{{$params.subtitle}}</div>
    {{ end }}
    <div id="show-guest">
      {{$params.author}}
    </div>
    <a class="cf button" style="font-size: 1rem; padding: 5px; 10px;" href="{{$episode.RelPermalink}}">Read More</a>
    <div style="margin-top: 18px"></div>
    {{ partial "time.html" $episode }}
  </div>
  <a class="cf button" href="/episodes">PAST EPISODES</a>
  <div style="margin-top: 35px"></div>
   <span style="text-align:center; padding: 0 5px;">
     The live stream is back on Twitch!
   </span>
  <div style="margin-top: 20px"></div>
  <a id="twitch" class="button" target="_blank" href="https://twitch.tv/kristoff_it">TWITCH</a>
  <div id="video-buttons">
  <a class="button" href="https://discord.com/invite/B73sGxF" target="_blank" style="background-color: #7baaf7; text-align: center;">
    DISCORD
    </a>
    <a class="button" style="background-color: #7baaf7;padding:0" target="_blank" href="https://twitter.com/croloris">
      <img src="twitter.svg" style="width:59px;">
    </a>
  </div>
<a id="youtube" class="button" target="_blank" href="https://www.youtube.com/channel/UC2EQzAewrC10KCDFSS4j-zA">YOUTUBE</a>

  <div style="margin-top: 25px"></div>
  <a class="button" href="/newsletter">NEWSLETTER</a>
  <div style="margin-top: 25px"></div>
  <a class="cf button" href="/speak">APPLY TO SPEAK</a>
  <div style="margin-top: 50px"></div>
{{ end }}