<!DOCTYPE html>
<html>
<head>
   <title>{{ block "title" . }}Zig SHOWTIME{{ end }}</title>
   <meta name="viewport" content="width=device-width, initial-scale=1">
   <link rel="icon" type="image/png" href="zig-favicon.png">
   {{ $style := resources.Get "style.css" | minify | fingerprint }}
   <link rel="stylesheet" type="text/css" href="{{ $style.Permalink }}">

    {{ range .AlternativeOutputFormats -}}
        {{ printf `<link rel="%s" type="%s" href="%s" title="%s" />` .Rel .MediaType.Type .Permalink $.Site.Title | safeHTML }}
    {{ end -}}

   {{ block "head" . }} {{ end }}
</head>
    <body>
{{ block "main" . }} {{ end }}
    </body>
</html>
