{{ define "title" }}
	{{ if ne .Params.title "" }}
		{{ .Params.title }}
	{{ else }}
		Zig SHOWTIME
	{{ end }}
{{ end}}

{{ define "head" }}
   {{ $timeleft := resources.Get "timeleft.js" | minify | fingerprint }}
   <script src="{{ $timeleft.Permalink }}"></script>
{{ end }}


{{ define "main" }}
  <div style="margin-top: 50px"></div>
  {{ if ne .Params.hide_logo true }}
  <div id="logo">
    <img id="zig-small" src="/zig.svg" width=77 height=70>
      <h1 id="showtime-small">
        SHOWTIME
      </h1>
  </div>
  {{ end }}
  <div style="margin-top: 30px"></div>
  <div style="color:white; font-size:0.7rem; margin-bottom:10px;text-align:center;">
      EPISODE #{{.File.BaseFileName}}
  </div>
  <div style="margin-bottom: 1rem;"> {{ .Date | time.Format "January 2, 2006" }} </div>
  <div id="show-title">{{.Title}}</div>
    {{ if .Params.subtitle }}
      <div id="show-subtitle">{{.Params.subtitle}}</div>
    {{ end }}
        <div>
          <span id="show-type">
            {{if eq .Params.type "talk"}}
            by
            {{end}}
            {{if eq .Params.type "interview"}}
            with
            {{end}}
          </span>
          <span id="show-guest">
          {{.Params.author}}
          </span>
        </div>
<div style="margin-top: 20px"></div>
  {{ if .Content }}
  <div style="color:white; font-size:0.7rem; margin-bottom:0;">ABSTRACT</div>
  <div style="max-width: 70vw; text-align: center; margin-top:0; padding-top:0;">{{ .Content }}</div>
  {{ end }}
<div style="margin-top: 30px"></div>
  <div style="display:flex; flex-direction:column; align-items:center;">
    {{ if gt .Date time.Now }}
      <div style="color:white; font-size:0.7rem; margin-bottom:10px; text-align:center;">    
        <i>EPISODE SCHEDULED, CATCH IT LIVE ON TWITCH!</i>
      </div>
      <div style="max-width:70vw; text-align:center;">
        {{ partial "time.html" . }}
      </div>

<div style="margin-top: 20px"></div>
  <a id="twitch" class="button" target="_blank" href="https://twitch.tv/kristoff_it">TWITCH</a>

<div style="margin-top: 20px"></div>
    {{ else }}
      {{ if .Params.vod }} 
      <div style="display:flex;flex-direction:column;align-items:center;">
        <div style="color:white; font-size:0.7rem; margin-bottom:0;text-align:center;">VIDEO</div>
        <iframe width="560" height="315" src="https://www.youtube.com/embed/{{.Params.vod}}" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
        <div style="max-width: 70vw; text-align:center;">Leave a comment on YouTube to publicly thank the speaker(s) and <a href="https://discord.com/invite/B73sGxF" target="_blank">join our Discord server</a> to continue the discussion!</div> 
      </div>
      {{ else }}
        Video not yet published.
      {{ end }}
    {{end}}
  </div>

<div style="margin-top: 50px"></div>
{{ end }}