{{ define "title" }}
	{{ if ne .Params.title "" }}
		{{ .Params.title }}
	{{ else }}
		Zig SHOWTIME
	{{ end }}
{{ end}}

{{ define "head" }}

{{ end }}

{{ define "main" }}
  <div style="margin-top: 50px"></div>
  {{ if ne .Params.hide_logo true }}
  <div id="logo">
    <img id="zig-small" src="/zig.svg" width=77 height=70>
      <h1 id="showtime-small">
        SHOWTIME
      </h1>
  </div>
  {{ end }}
  <div style="margin-top: 30px"></div>
  {{ .Content }}
<div style="margin-top: 50px"></div>
{{ end }}