@font-face {
  font-family: 'Joystix';
  src: url('/joystix.monospace-regular.otf') format('truetype');
}

@font-face {
  font-family: 'Vermin Vibes 1989';
  src: url('/vermin-vibes-1989.woff2') format('woff2');
}

@font-face {
  font-family: '1993';
  src: url('/NineteenNinetyThree.ttf') format('truetype');
}

body {
  font-family: '1993', monospace;
  color: #FFFF54;
  display: flex;
  flex-direction: column;
  font-size: 1.5rem;
  padding: 15px;
  width: 800px;
}

#logo {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#logo h1 {
  font-family: 'Vermin Vibes 1989', monospace;
  font-size: 50px;
  font-weight: 400;
  margin-top: 0;
  color: #FFFF54;
}

#logo-link {
  text-decoration: none;
}

#title {
  margin: 0;
}

#desc {
  color: #eee;
  text-align: center;
  margin-top: 0;
}

#author {
  text-align: center;
  margin-bottom: 0;
}

#countdown {
  color: #eee;
  text-align: center;
}

.button {
  font-family: 'Joystix', monospace;
  background-color: #eee;
  text-decoration: none;
  color: #131315;
  padding: 10px 15px;
  font-size: 1.4rem;
  margin: 5px;
}

a.button:hover {
  background-color: #FFFF54 !important;
}

h1,
h2,
h3 {
  color: #fff;
  font-family: "Joystix", sans-serif;
  align-self: center;
}

b,
strong {
  color: #fff;
}

a {
  color: #eee;
}

html {
  color: #ccc;
  font-family: "Georgia", serif;
  font-size: 1.2em;
  display: flex;
  flex-direction: row;
  justify-content: center;
  background-color: #131315;
}


.site-title {
  font-size: 2.5em;
  margin-bottom: 10px;
  /* text-align: center; */
}

nav {
  display: flex;
  flex-direction: row;
  justify-content: center;
  font-size: 1.2rem;
  margin-bottom: 20px;
}

.block {
  border: 1px dotted white;
  padding: 5px 15px;
  margin: 0 10px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.block h1 {
  font-size: 1em;
  text-align: center;
  margin-bottom: 0;
}

.small {
  font-size: 0.8em;
}

.wave {
  background: #111;
  color: #fff;
  text-shadow: 1px 1px 10px #fff, 1px 1px 10px #ccc;
}

footer {
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

footer hr {
  width: 100%;
}

@media only screen and (max-device-width: 767px) {
  html {
    font-size: 0.8rem;
  }

  nav {
    flex-direction: column;
    align-items: center;
  }

}