h1 {
    align-self: center;
}
p {
    color: #ddd;
    text-align: left;
    line-height: 1.2;
}

strong, b {
    color: #ffff54;
}

em {
    color: #aaa;
}

h1 {
    text-align: center;
}

body {
    padding: 10px;
    max-width: 1000px;
    margin: auto;
    align-items: flex-start;
}

a {
    color: #7baaf7;
    text-decoration: none;
}

@media only screen 
   and (max-device-width: 812px) {
    p {
        text-align: left;
    }
}